.ios,.md {
  page-bienes {
    ion-header{
      @include linear-gradient(left,$facebook-messenger);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
    ion-content {
      @include linear-gradient(top,$facebook-messenger);;//(top,$blue-skies);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
    .item {
      background-color: transparent;
    }
  }
}
