.ios, .md{
  page-prestamos {
    /*ion-content {
      @include linear-gradient(left,$facebook-messenger);;//(top,$blue-skies);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }*/
  }
}
